<form name="rubro.form" ng-submit="rubro.submitEdition($event, this)">
    <fieldset ng-disabled="isSaving">
    	<div class="modal-header align-center">
            <h3 ng-if="formName=='rubros'" class="modal-title">Registrar rubro</h3>
            <h3 ng-if="formName=='marcaproductos'" class="modal-title">Registrar marca de productos</h3>
    	</div>
    	<div class="modal-body">
            <div>
                <div ng-if="formName=='rubros'" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="rubro">Rubro *</label>
                            <input ng-model="model.nomb" type="text" class="form-control" id="rubro" placeholder="Ingrese rubro." ng-required="true" ng-minlength="2" ng-maxlength="100" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div ng-if="formName=='marcaproductos'" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="marca">Marca *</label>
                            <input ng-model="model.nomb" type="text" class="form-control" id="marca" placeholder="Ingrese marca." ng-required="true" ng-minlength="1" ng-maxlength="100" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    	<div class="modal-footer">
            <span>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Guardar</button>
            </span>
    	    <button type="button" ng-click="close()" class="btn btn-default">Cerrar</button>
    	</div>
    </fieldset>
    <p ng-if="isSaving" class="bg-info text-center">Guardando...</p>
</form>
